@charset "UTF-8";
/* CSS Document */

/*
font-family: zen-maru-gothic,sans-serif;
font-weight: 400;
font-style: normal;
font-family: zen-maru-gothic,sans-serif;
font-weight: 700;
font-style: normal;
font-family: "ar-udjingxiheib5", sans-serif;
font-weight: 500;
font-style: normal;
*/


* {margin:0px; padding:0px;}

body, html {font-family:'ar-udjingxiheib5','微軟正黑體','Microsoft Jhenghei',sans-serif; font-size:18px; line-height:24px; font-weight:400; position:relative; background:#e8e8e0;}
a, input, button {text-decoration:none; outline:none !important;}
a:hover, a:focus, a:active {text-decoration:none; cursor:pointer !important; outline:none !important;}
ul, li {list-style:none;}

.cleardiv {clear:both;}

#lks {display:flex; justify-content:center; position:absolute; right:10px; top:10px;}
#lks a {color:black; margin:0px 30px; padding:10px 15px; overflow:hidden; position:relative;}
#lks a:after {content:''; display:block; width:100%; height:1px; position:absolute; left:0; bottom:0; background:black; transform:translateX(-100%);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
#lks a:hover:after {transform:translateX(0);}

h1 {font-size:48px; line-height:48px; color:#466287; text-align:center; margin:100px auto; font-weight:normal;}
h1::after {content:''; display:block; width:50%; height:10px; background:#cecece; margin-top:10px;}

#wrks {display:flex; flex-wrap: wrap; justify-content: center; align-items: flex-start; margin-bottom:100px;}

#wrks .con {width:25vw; margin:20px; position:relative;}
#wrks .con img {width:100%;}
#wrks .con .title {font-size:16px; line-height:34px;}
#wrks .con .tag {display:table; position:absolute; right:0px; bottom:5px; background:black; font-size:12px; line-height:24px; padding:0px 8px; color:white;}

/* Sweep To Right */
.hvr-sweep-to-right p {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right p:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #466287;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover p, .hvr-sweep-to-right:focus p, .hvr-sweep-to-right:active p {
  color: white;
}
.hvr-sweep-to-right:hover p:before, .hvr-sweep-to-right:focus p:before, .hvr-sweep-to-right:active p:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.f-html {background:#e8e8e0;}

.opn_box {position:relative; width:60vw;}
.opn_box .head {display:flex; flex-wrap:nowrap; align-items: center; border-bottom:1px solid #cecece; padding-bottom:20px; margin-bottom:20px;}
.opn_box .head img {width:25vw; margin-right:30px;}
.opn_box .head .right {padding-left:20px; border-left:1px solid #cecece;}
.opn_box .head .right p {font-size:16px; line-height:30px;}
.opn_box .head .right p.name {font-weight:bold;}
.opn_box .head .tag {display:table; background:black; font-size:12px; line-height:24px; padding:0px 8px; margin-bottom:10px; color:white;}
.opn_box img.preview {width:100%; height:auto;}
.opn_box p.info {font-size:15px; line-height:22px;}






@media screen and (max-width: 768px) {

    h1 {font-size:36px; line-height:36px; text-align:center;}
    #wrks .con {width:85vw;}
    
}